<nav class="bg-gray-800 border-gray-200">
  <div class="sm:container sm:flex sm:flex-wrap sm:justify-between sm:items-center mx-auto py-2.5">
    <div class="max-sm:container max-sm:flex max-sm:flex-wrap max-sm:justify-between max-sm:items-center max-sm:mx-auto max-sm:py-2.5">
      <%= link_to "S-Connect", (user_signed_in? || admin_signed_in?) ? shifts_path : root_path, class: "self-center text-white text-2xl font-semibold whitespace-nowrap pl-4" %>

      <button id="menu-toggle" class="sm:hidden text-white mr-4 cursor-pointer">
        <i class="fa-solid fa-bars fa-2x"></i>
        <i class="fa-solid fa-xmark fa-2x hidden"></i>
      </button>
    </div>

    <div id="menu" class="ms:w-full ms:block sm:w-auto max-sm:hidden">
      <ul class="text-center sm:flex sm:flex-row sm:space-x-8 sm:text-sm sm:font-medium sm:pr-4">
        <% if admin_signed_in? %>
          <li>
            <%= link_to "シフト作成", new_shift_path, class: "block py-2 text-gray-400 max-sm:border-b max-sm:border-t border-gray-700 md:hover:bg-transparent md:border-0 md:hover:text-blue-white md:p-0" %>
          </li>
          <li>
            <%= link_to "募集シフト一覧", shifts_path, class: "block py-2 text-gray-400 max-sm:border-b border-gray-700 md:hover:bg-transparent md:border-0 md:hover:text-blue-white md:p-0" %>
          </li>
          <li>
            <%= link_to "参加申請一覧", tickets_path, class: "block py-2 text-gray-400 max-sm:border-b border-gray-700 md:hover:bg-transparent md:border-0 md:hover:text-blue-white md:p-0" %>
          </li>
          <li>
            <%= button_to 'ログアウト', destroy_admin_session_path, class: "inline-block py-2 text-gray-400 md:hover:bg-transparent md:border-0 md:hover:text-blue-white md:p-0", method: :delete %>
          </li>
        <% elsif user_signed_in? %>
          <li>
            <%= link_to "募集シフト一覧", shifts_path, class: "block py-2 text-gray-400 max-sm:border-b max-sm:border-t border-gray-700 md:hover:bg-transparent md:border-0 md:hover:text-blue-white md:p-0" %>
          </li>
          <li>
            <%= button_to 'ログアウト', destroy_user_session_path, class: "inline-block py-2 text-gray-400 md:hover:bg-transparent md:border-0 md:hover:text-blue-white md:p-0", method: :delete %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>